.banner {
    background-image: url(../images/pattern.webp);
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.brushes h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.helvetica-bold-blue {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: blue;
}

.frames h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}